<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <%- include('head') %>

    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <%- include('nav') %>
    <div class="container">
        <div class="ansContainer">
            <h5><%= heading %> for</h5>
            <p>"<%= resultsForTitle %>"</p>

            <!-- before my result -->
            <% for(var i = 0; i < 10; i++) { %>
            <!-- This is my result -->
            <% if( i == rand ) { %>
            <!-- <a href="/tag"> -->
            <div class="myDiv">
                <div class="flex-container">
                    <div class="flex-item-left">
                        <img src="<%= myThumb %>" alt="<%= myTitle %>" width="100%" height="auto">
                    </div>
                    <div class="flex-item-right">
                        <h4 class="titleofvideo"><%= myTitle %></h4>
                        <small class="pubandview"><%= myPublish %></small>
                        <small class="pubandview">• views <%= myViews %></small>
                    </div>
                </div>
            </div>
            <!-- </a> -->
            <!-- <hr class="hr"> -->
            <% } %>

            <!-- <a href="/tag"> -->
            <div class="flex-container">
                <div class="flex-item-left">
                    <img src="<%= goni[i].thumbnail %>" alt="<%= goni[i].title %>" width="100%" height="auto">
                </div>
                <div class="flex-item-right">
                    <h4 class="titleofvideo"><%= goni[i].title %></h4>
                    <small class="pubandview"><%= goni[i].uploaded %></small>
                    <small class="pubandview">• views <%= goni[i].views %></small>
                </div>
            </div>
            <!-- </a> -->
            <!-- <hr class="hr"> -->
            <% } %>
        </div>
    </div>

</body>

</html>